@model List<ComputerStore.DTO.Types.Fokategoriatipus>

    <div class="col-md-9">

        <table class="table table-hover table-bordered centerText" style="cursor: pointer">
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td><img height="100" src="@String.Concat("data:image/jpeg;base64,", Convert.ToBase64String(item.Kep))" alt=""></td>
                    <td>
                        <p>@item.Megnevezes</p>
                    </td>
                    @*<td>
                        <p>@item.Tipus</p>
                    </td>*@
                    <td>

                        @Html.ActionLink("Törlés", "Delete", "Admin", new {id=item.ID, tipus=item.Tipus }, "")
                    </td>
                </tr>
            }
        </table>

    </div>
